body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgb(219, 231, 236);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}
.favButton:hover {
  background-color: mediumslateblue;
}

h1{
  text-align: center;
}

nav{
  display: flex;
  width: "100%";
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: rgb(116, 161, 189);
}

.links {
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.theme-btn{
  background-color: black;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  padding: 7px;
}

a{
  color: #000000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(67, 67, 67);
} 

footer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  height: 40px;
  margin-top: 2rem;
  background-color: rgb(116, 161, 189);
}

footer img{
  width: 200px;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}

.footer-logo{
  display: flex;
  align-items: center;
}

.footer-icons img {
  width: 30px;
  padding-right: 10px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100%;
  margin: 0 auto;
}

form > button {
  background-color: rgb(116, 161, 189);
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card img {
  width: 200px;
}

.dentist-id {
  display: flex;
  align-items: center;
  gap: 10px;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #121212;
  color: white;
}
.dark > a {
  color: white;
}


.light {
  background-color: whitesmoke;
  color: #000;
}

.light > a {
  color: black
}

.details {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.info-den {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-text{
  padding: 20px;
}